@import '../../../styles/variables';

.RadioButtons {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &--error {
        font-size: 14px;
    }

    &--buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &--button {
        padding: 14px;
        border: 1px solid rgba($white, 0.6);
        margin-right: 20px;
        margin-bottom: 20px;
        border-radius: 7px;
        background: transparent;
        transition: all 0.2s ease;
        cursor: pointer;

        &:focus,
        &:hover {
            outline: none;
            border-color: $white;

            .RadioButtons--button__text {
                color: $white;
            }
        }

        &.selected {
            background: $white;

            .RadioButtons--button__text {
                color: $black;
            }
        }
    }

    &--button__text {
        line-height: 0;
        user-select: none;
        transition: all 0.2s ease;
        color: rgba($white, 0.6);
    }
}
