@import '../../styles/variables.scss';
.VerticalText {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;

    &Title {
        font-size: 30px;
        line-height: 34px;
        font-family: Montserrat;
        text-align: center;
        min-height: 50px;
        margin-bottom: 10px;

        margin-top: auto;
        * {
            text-align: center;
        }
        @include bp-full {
            min-height: 70px;
        }
    }
    &Content {
        * {
            text-align: center !important;
        }
    }
}
