@import '../../../styles/variables';

.FormRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    @include bp-med {
        flex-direction: row;
    }

    &--spacer {
        width: 30px;
        height: 40px;
    }
}
