@import '../../styles/variables.scss';

.ButtonHide {
    display: none !important;
}

%largened {
    font-size: 40px;
    width: 36rem;
}

.ButtonLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    &Link {
        @extend %size-button;
        @extend %font-button;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &Color {
            &purple {
                @extend %purple-button;
            }
            &brown {
                @extend %brown-button;
            }
        }
        &Size {
            &sm {
                width: 100%;
                max-width: 20rem;
                margin: 1rem;
                height: 40px;
            }
            &md {
                margin-top: 1rem;
                margin-bottom: 1rem;
                height: 55px;
            }
            &lg {
                width: 100%;
                max-width: 36rem;
                font-size: 40px;
                margin: 1rem;
                height: 80px;
            }
            &fp {
                width: 100%;
                height: 55px;
                margin: 1rem;
            }
        }
        &Align {
            &left {
                margin-right: auto;
                margin-left: -1px;
            }
            &right {
                margin-left: auto;
            }
        }
        &Block {
            width: 100%;
        }
    }

    &Hover {
        &Text {
            @extend %font-button;
            font-size: 40px;
            width: 100%;
        }
        &Hover {
            display: none;
            @extend %font-button;
            font-size: 30px;
            width: 100%;
        }
        :hover {
            &Text {
                display: none;
            }
            &Hover {
                display: inline;
            }
        }
    }
}
