@import '../../styles/variables.scss';

.ButtonHide {
    display: none;
}

%largened {
    font-size: 40px;
    width: 36rem;
}
.ButtonLinkReady {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    a {
        &:hover {
            .ButtonLinkReady {
                &--text {
                    display: none;
                }
                &--hoverText {
                    display: inline;
                }
            }
        }
    }

    &--text {
        @extend %font-button;
        font-size: 40px;
        width: 100%;
    }
    &--hoverText {
        display: none;
        @extend %font-button;
        font-size: 40px;
        width: 100%;
    }
}

.ButtonLink {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &--link {
        @extend %size-button;
        @extend %font-button;
        padding: 0;
        &-color {
            &__purple {
                @extend %purple-button;
            }
            &__brown {
                @extend %brown-button;
            }
        }
        &-size {
            &__sm {
                width: 100%;
                max-width: 20rem;
                margin: 1rem;
            }
            &__md {
                align-self: stretch;
                display: block;
                width: 100%;
                max-width: 20rem;
                margin: 1rem;
                height: 55px;
                @include bp-full {
                    width: 25rem;
                }
            }
            &__lg {
                width: 100%;

                max-width: 36rem;
                font-size: 40px;
                margin: 1rem;
                height: 80px;
            }
            &__fp {
                width: 100%;
                max-width: 25rem;
                font-size: 40px;
                margin: 1rem;
            }
        }
        &-align {
            &__left {
                margin-right: auto;
                margin-left: -1px;
            }
            &__right {
                margin-left: auto;
            }
        }
    }
}
