.Hardware {
    padding-bottom: 50px;
    max-height: 400px;
    &Grid {
        max-width: 100px;
        &Item {
            text-align: center;
            font-size: 18px;
            line-height: 32px;
            font-family: Lato;
        }
    }
}
