@import '../../styles/variables.scss';

.verticalSection {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    max-width: 980px;
    margin: 0 auto;
    @include bp-med {
        flex-direction: row;
    }
}
