.verticalSection {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    max-width: 980px;
    margin: 0 auto;
    * {
        margin: 10px;
        //background: rgba(255, 255, 255, 0.1);
    }
}
