@import '../../styles/variables.scss';

.StylishContainer {
    margin-left: -$padding-page;
    margin-right: -$padding-page;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    &-left,
    &-right {
        background: red;
        align-self: stretch;
        overflow: hidden;
        flex: 1;
        position: relative;
    }
    &-right__image {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        height: 100%;
    }
    &-left__image {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
    }
    &-children {
        background: blue;
        min-height: 400px;
        justify-content: center;
        display: flex;
        width: 980px;
        margin: 0 auto;
        flex-direction: column;
    }
}
