$main-color1: rgba(178, 0, 183, 0.8);
$main-color2: rgba(243, 129, 0, 0.6);

$main-gradient1: linear-gradient(
    136deg,
    rgba(178, 0, 183, 0.3),
    rgba(178, 0, 183, 0.2) 100%
);

$main-gradient2: linear-gradient(
    128deg,
    rgba(243, 129, 0, 0.23) 0%,
    rgba(122, 65, 0, 0.22) 100%
);
