@import '../../styles/variables.scss';

.VolunteerGuidelines {
    :nth-child(even) {
        .VolunteerGuidelines--container {
            background: $main-gradient2;
        }
    }
}

.VolunteerGuidelines--container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 980px;
    border-radius: $border-radius;
    color: $text-light;
    background: $main-gradient1;
    flex-direction: column;
    min-height: 130px;

    @include bp-med {
        height: 130px;
        flex-direction: row;
    }

    &__title {
        text-align: center;

        padding-right: 1rem;
        width: 100%;
        max-width: 20rem;
        font-size: 20px;
        font-family: $font-title;
        font-weight: bold;
        text-transform: uppercase;
    }
    &__content {
        align-self: flex-start;
        width: 100%;
        max-width: 620px;
        font-size: 18px;
        font-family: $font-body;
        padding-top: 10px;
    }
}
