.PartnersGrid {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.PartnersGrid-partner {
    background-color: white;
    margin: 10px;
    z-index: 3;
    width: 20%;
    height: 150px;
    display: flex;
    flex-direction: row;
}
