@import '../../styles/variables.scss';
.PartnersGrid {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.PartnersGrid-partner {
    margin: 0;
    z-index: 3;
    display: flex;
    flex-direction: row;
    &-img {
        width: 100%;
        height: 200px;
    }
}
