.PartnersGrid {
    width: 100%;

    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.PartnersGrid-partner {
    margin: 10px;
    z-index: 3;
    width: 22%;
    display: flex;
    flex-direction: row;

    &-img {
        width: 100%;
        height: 200px;
    }
}
