@import './styles/base.scss';
.App {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
}
a {
    color: $link-colour;
}
.App--main {
    background: $background;
    background: $background-gradient;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 1000px;
}

.Page {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    &--wrapper {
        padding: 0 $padding-page;
    }
}
