@import '../../styles/variables.scss';

.HomePage {
    background: rgb(0, 0, 0);
    background: linear-gradient(152deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 15%, rgba(20, 0, 21, 1) 100%);
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 1000px;
    &-applyButton {
        @extend %button-purple;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    &-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    &-infoButton {
        @extend %button-brown;
        font-size: 20px;
        text-transform: uppercase;
        margin-right: 1%;
    }
    &-volunteerButton {
        @extend %button-purple;
        font-size: 20px;
        text-transform: uppercase;
        margin-left: 1%;
    }
    &-introText {
        @extend %font-lato;
    }

    &-videoContainer {
        padding-top: 56.25%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        &-video {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }
}
