@import '../../styles/variables';

.Markdown {
    max-width: 980px;

    * {
        text-align: center;
        @include bp-med {
            text-align: left;
        }
    }

    p {
        @extend %font-lato;
        margin-top: 0;
    }

    a {
        font-weight: bold;
        font-family: inherit;
        font-size: inherit;
    }

    blockquote {
        display: flex;
        flex-direction: column;
        align-items: center;

        * {
            text-align: center;
        }
    }

    &--youtube {
        width: 100%;
        position: relative;
        padding-top: 56.25%;

        &__video {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &--image {
        width: 100%;
    }
}
