@import '../../../styles/variables';

.TextInput {
    display: flex;
    flex-direction: column;
    flex: 1;

    &--error {
        margin-top: 10px;
        opacity: 1;
        font-size: 14px;
        line-height: 18px;
        color: $error-red;
    }

    &--input {
        height: 38px;
        background: transparent;
        border: none;
        border-bottom: 1px solid rgba($white, 1);
        color: rgba($white, 1);
        font-size: 18px;
        transition: all 0.2s ease;

        &:focus {
            outline: none;
            border-color: $white;
            color: $white;
        }
    }
}
