@import '../../../styles/variables';

.SubmitButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;

    &--button {
        background: linear-gradient(
            135deg,
            rgba(243, 129, 0, 0.23) 0%,
            rgba(122, 65, 0, 0.22) 100%
        );
        width: 280px;
        height: 42px;
        border-radius: 7px;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
            background: linear-gradient(
                135deg,
                rgba(243, 129, 0, 0.4) 0%,
                rgba(122, 65, 0, 0.5) 100%
            );
            color: white;
        }

        &__text {
            color: white;
            transition: all 0.2s ease;
            font-weight: bold;
        }
    }
}
