.trackName {
    font-size: 40px;
    text-align: center;
}

.trackDescription {
    text-align: center;
}

.mentorTitle {
    font-size: 24px;
    text-align: center;
}

.challengesPlaceholder {
    text-align: center;
    font-weight: lighter;
    font-size: 40px;
    font-family: 'Montserrat';
    margin: 0;
}
