@import '../../styles/variables.scss';
.ChallengesGrid {
    &--track {
        width: 100%;
        max-width: 980px;
        margin: 0 auto;

        &__challenge {
            background: white;
            border-radius: 30px;
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            @include bp-full {
                flex-direction: row;
                align-items: flex-start;
                justify-content: center;
            }
            &-image {
                width: 100%;
                object-fit: contain;
                max-width: 20rem;
                flex-direction: column;
                align-items: flex-start;
                max-height: 255px;
                max-width: 255px;
            }
            &-right {
                width: 100%;
                max-width: 620px;
                display: flex;
                flex-direction: column;
                align-items: center;
                @include bp-full {
                    margin-left: 3rem;
                    align-items: flex-start;
                }
                &-name {
                    padding-top: 1rem;
                    font-family: $font-title;
                    font-weight: bold;
                    font-size: 24px;
                    color: black;
                    padding-bottom: 1rem;
                }
                &-content {
                    @extend %font-body;
                    color: black;
                    padding-bottom: 1rem;
                }
            }
        }
    }
}
